# Ignore everything
*

# Allow directories (needed for recursion)
!*/

# Allow .tex and .pdf files
# !*.tex
!*.pdf
!*.R
!*.csv

# Allow gitignore itself
!.gitignore

# Ignore course-resources/ entirely
archived/
